{% load custom_filters %}
<div class="popup-overlay">
    <div class="popup">
      <button class="close-btn" onclick="closePopup()">×</button>
      <h2>Details</h2>
      <div class="table-container">
        <table class="modern-table">
          <thead>
            <tr>
              <th class="fixed-column"></th> <!-- Empty cell for the fixed column header -->
              {% for column in columns %}
                <th>{{ column|upper }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="fixed-column"><b>COUNT</b></td>
              {% for key, value in details.items %}
                <td>{{ value.count }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td class="fixed-column"><b>MEAN</b></td>
              {% for key, value in details.items %}
                <td>{{ value.mean }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td class="fixed-column"><b>STD</b></td>
              {% for key, value in details.items %}
                <td>{{ value.std }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td class="fixed-column"><b>MIN</b></td>
              {% for key, value in details.items %}
                <td>{{ value.min }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td class="fixed-column"><b>25%</b></td>
              {% for key, value in details.items %}
                <td>{{ value|key:'25%' }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td class="fixed-column"><b>50%</b></td>
              {% for key, value in details.items %}
                <td>{{ value|key:'50%' }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td class="fixed-column"><b>75%</b></td>
              {% for key, value in details.items %}
                <td>{{ value|key:'75%' }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td class="fixed-column"><b>MAX</b></td>
              {% for key, value in details.items %}
                <td>{{ value.max }}</td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<script>
    function closePopup() {
        const popupOverlay = document.querySelector('.popup-overlay');
        popupOverlay.style.display = 'none';
      }
</script>