<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Analytica-Hub</title>
    <script src="https://unpkg.com/htmx.org"></script>
    <link rel="stylesheet" href="/static/live_chat.css">
</head>
<body>
    <div class="chat-container">
        <div class="chat-box" id="chatBox">
            <div class="message received">Hello! How can I help you?</div>
            <!--div class="waitingForResponse received"><img src="/static/images/bionic-eye.gif"></div-->
        </div>
        <div class="input-box">
            <form id="chatForm" method="POST" hx-post="{% url 'chatwithCSV' id=file_id %}" hx-trigger="submit" hx-target="#waitingResponseContainer" hx-swap="outerHTML">
                {% csrf_token %}
                <input type="text" class="messageInput" id="messageInput" name="msg" placeholder="Type a message..." autocomplete="off">
                <button type="submit">Send</button>
            </form>
        </div>
    </div>

    <script>
        document.getElementById("chatForm").addEventListener("submit", function(event) {

            let input = document.getElementById("messageInput");
            let messageText = input.value.trim();
            if (messageText === "") return;

            let chatBox = document.getElementById("chatBox");

            let messageDiv = document.createElement("div");
            messageDiv.classList.add("message", "sent");
            messageDiv.textContent = messageText;
            chatBox.appendChild(messageDiv);

            let loadingDiv = document.createElement("div");
            loadingDiv.classList.add("waitingForResponse", "received");
            loadingDiv.id = "waitingResponseContainer"; 
            loadingDiv.innerHTML='<img src="/static/images/bionic-eye.gif">'
            chatBox.appendChild(loadingDiv);

            chatBox.scrollTo({ top: chatBox.scrollHeight, behavior: "smooth" });

            setTimeout(()=> {
                input.value = "";
                chatBox.scrollTop = chatBox.scrollHeight;
            }, 600);
        });
    </script>

</body>
</html>
