<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Analytica-Hub</title>
  <link rel="stylesheet" href="/static/upload_file.css">
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Upload Your Files</h1>
    </div>

    <div class="file-upload-section">
      <div class="file-card upload-card" onclick="triggerFileUpload()">
        <input name="dataFile" type="file" id="file-input" style="display: none;" accept=".csv, .xlsx">
        <div class="file-icon">
          <div class="file-plus">+</div>
        </div>
        <p class="upload-text">Add New File</p>
      </div>

      {% for file in files %}
      <div class="file-container">
        <a href="{% url 'analytic_page' file.file_id%}">
          <div class="file-item">
            <div class="file-icon">📄</div>
            <div class="file-name">{{file.file_name}}</div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>

  <script>
    const fileInput = document.getElementById('file-input');
    const fileList = document.getElementById('file-list');

    function triggerFileUpload() {
      fileInput.click();
    }

    {% comment %} fileInput.addEventListener('change', (event) => {
      const files = event.target.files;

      for (const file of files) {
        const fileCard = document.createElement('div');
        fileCard.classList.add('file-card');

        // File Icon
        const fileIcon = document.createElement('div');
        fileIcon.classList.add('file-icon');
        const fileType = document.createElement('p');
        fileType.classList.add('file-type');
        fileType.textContent = file.name.split('.').pop().toUpperCase();
        fileIcon.appendChild(fileType);

        // Editable File Name
        const fileNameInput = document.createElement('input');
        fileNameInput.type = 'text';
        fileNameInput.classList.add('file-name-input');
        fileNameInput.value = file.name;

        // Append Elements
        fileCard.appendChild(fileIcon);
        fileCard.appendChild(fileNameInput);
        fileList.appendChild(fileCard);
      } {% endcomment %}
    {% comment %} }); {% endcomment %}
  </script>
</body>
</html>