{% load custom_filters %}
<div class="popup-overlay">
    <div class="popup">
      <button class="close-btn" onclick="closePopup()">×</button>
      <h2>Details</h2>
      <div class="table-container">
        <table class="modern-table">
          <thead>
            <tr>
              <td class="fixed-column"></td>
              {% for column in columns %}
              <th class="fixed-column">{{ column|upper }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="fixed-column"><b>COUNT</b></td>
              {% for key, value in describe.items %}
                <td>{{ value.count|floatformat:0 }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td class="fixed-column"><b>MEAN</b></td>
              {% for key, value in describe.items %}
                <td>{{ value.mean|floatformat:3 }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td class="fixed-column"><b>STD</b></td>
              {% for key, value in describe.items %}
                <td>{{ value.std|floatformat:3 }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td class="fixed-column"><b>MIN</b></td>
              {% for key, value in describe.items %}
                <td>{{ value.min|floatformat:3 }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td class="fixed-column"><b>25%</b></td>
              {% for key, value in describe.items %}
                <td>{{ value|key:'25%'|floatformat:3 }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td class="fixed-column"><b>50%</b></td>
              {% for key, value in describe.items %}
                <td>{{ value|key:'50%'|floatformat:3 }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td class="fixed-column"><b>75%</b></td>
              {% for key, value in describe.items %}
                <td>{{ value|key:'75%'|floatformat:3 }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td class="fixed-column"><b>MAX</b></td>
              {% for key, value in describe.items %}
                <td>{{ value.max|floatformat:3 }}</td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
      <div class="isNull">
        {{nullCount}}
      </div>
    </div>
  </div>

<script>
    function closePopup() {
        const popupOverlay = document.querySelector('.popup-overlay');
        popupOverlay.style.display = 'none';
      }
</script>