<!-- Price Plan Popup Modal Component -->
<div id="pricePlanModal" class="modal-overlay" style="display: none">
  <div class="modal-content">
    <span class="close-btn" id="closePricePlan">&times;</span>
    <div class="container">
      <div class="header">
        <h1>Choose your plan</h1>
        <p class="subtext">
          Get the right plan for your business. Plans can be upgraded in the
          future.
        </p>
      </div>
      <div class="plans">
        <div class="card basic">
          <h3 class="plan-title">Free Plan</h3>
          <p class="price">₹0 <span>/month</span></p>
          <ul>
            <li>✓ Upload upto 5 CSV file</li>
            <li>✓ Upload upto 10,000 rows</li>
            <li>✓ Manual EDA tools</li>
            <li>
              ✓ Access to Chat with CSV<br /><small
                >(limited to 3 queries per file)</small
              >
            </li>
            <li>✓ No export/download</li>
            <br />
          </ul>
          <button class="btn-outline">Get Plan</button>
        </div>
        <div class="card standard">
          <h3 class="plan-title">Standard Plan</h3>
          <p class="price">₹399 <span>/month</span></p>
          <ul>
            <li>✓ Upload upto 20 CSV file</li>
            <li>✓ Upload upto 100,000 rows per file</li>
            <li>✓ Full access to all AI features</li>
            <li>
              ✓ Unlimited Chat with CSV <br /><small
                >(only 5 visuals/chart per chat)</small
              >
            </li>
            <li>✓ Download insights (CSV + Graphs)</li>
            <li>✓ Early access to new features</li>
          </ul>
          <button class="btn-outline">Get Plan</button>
        </div>
        <div class="card premium">
          <h3 class="plan-title">Premium Plan</h3>
          <p class="price">₹799 <span>/month</span></p>
          <ul>
            <li>✓ Unlimited CSV file upload</li>
            <li>✓ Upload upto 500,000 rows per file</li>
            <li>✓ Full access to all the AI features</li>
            <li>✓ Unlimited Chat with CSV</li>
            <li>✓ Download/Export CSV + Graphs</li>
            <li>✓ Early access to new features</li>
          </ul>
          <br />
          <button class="btn-outline">Get Plan</button>
        </div>
      </div>
    </div>
  </div>
</div>
